.github
.vscode
bin
node_modules
.gitignore
.npmignore
.prettierrc
CONTRIBUTING.md
eslint.config.js
push.sh
tsconfig.json
.git

!template/.gitignore
!template/.prettierrc
!template/.vscode
!template/README.md
!template/eslint.config.js
!template/index.html
!template/package.json
!template/pnpm-lock.yaml
!template/public
!template/src
!template/tsconfig.app.json
!template/tsconfig.json
!template/tsconfig.node.json
!template/vite.config.ts
